<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>error错误页面</title>
    <link rel="stylesheet" href="../../static/css/404.css">
</head>

<body>

<div class="error">
    <p>error错误页面</p>
    <p class="remind">您访问的页面出错了，请返回主页！</p>
    <p><a class="button" href="/common/index">返回主页</a></p>
</div>
<div>
    <div th:utext="'&lt;!--'" th:remove="tag"></div>
    <div th:utext="'Failed Request URL : ' + ${url}" th:remove="tag"></div>
    <div th:utext="'Exception message : ' + ${exception.message}" th:remove="tag"></div>
    <ul th:remove="tag">
        <li th:each="st : ${exception.stackTrace}" th:remove="tag">
            <span th:utext="${st}" th:remove="tag"></span>
        </li>
    </ul>
    <div th:utext="'--&gt;'" th:remove="tag"></div>
</div>

</body>
</html>