<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:fragment="head(title)">
        <meta charset="utf-8">
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title th:replace="${title}">写文章 - 异清轩博客管理系统</title>
        <link rel="stylesheet" href="../static/lib/editormd/css/editormd.css"
              th:href="@{/static/lib/editormd/css/editormd.css}"/>
        <link rel="stylesheet" href="../static/lib/editormd/lib/codemirror/codemirror.min.css"
              th:href="@{/static/lib/editormd/lib/codemirror/codemirror.min.css}"/>
<!--        <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon"/>-->
        <link rel="stylesheet" type="text/css" href="../static/lib/summernote/summernote.css"
              th:href="@{/static/lib/summernote/summernote.css}">
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
              th:href="@{/static/css/bootstrap.min.css}">
        <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/static/css/style.css}">
        <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css"
              th:href="@{/static/css/font-awesome.min.css}">
        <link rel="stylesheet" type="text/css" href="../static/css/login.css" th:href="@{/static/css/login.css}">
        <link rel="stylesheet" type="text/css" href="../static/lib/ueditor/themes/default/css/ueditor.css"
              th:href="@{/static/lib/ueditor/themes/default/css/ueditor.css}">
        <link rel="stylesheet" type="text/css" href="../static/lib/ueditor/themes/iframe.css"
              th:href="@{/static/lib/ueditor/themes/iframe.css}">


        <link rel="apple-touch-icon-precomposed" href="../static/images/icon/icon.png"
              th:href="@{/static/images/icon/icon.png}">
        <link rel="shortcut icon" href="../static/images/icon/favicon.ico" th:href="@{/static/images/icon/favicon.ico}">

        <script src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
        <script src="../static/lib/editormd/editormd.min.js" th:src="@{/static/lib/editormd/editormd.min.js}"></script>
        <script src="../static/lib/editormd/lib/marked.min.js"
                th:src="@{/static/lib/editormd/lib/marked.min.js}"></script>
        <script type="text/javascript" src="../static/js/html5shiv.min.js"
                th:src="@{/static/js/html5shiv.min.js}"></script>
        <script type="text/javascript" src="../static/js/respond.min.js" th:src="@{/static/js/respond.min.js}"></script>
        <script type="text/javascript" src="../static/js/selectivizr-min.js"
                th:src="@{/static/js/selectivizr-min.js}"></script>
        <script type="text/javascript" src="../static/js/bootstrap.min.js"
                th:src="@{/static/js/bootstrap.min.js}"></script>
        <script src="../static/lib/ueditor/ueditor.config.js"
                th:src="@{/static/lib/ueditor/ueditor.config.js}"></script>
        <script src="../static/lib/ueditor/ueditor.all.min.js"
                th:src="@{/static/lib/ueditor/ueditor.all.min.js}"></script>
        <script src="../static/lib/ueditor/lang/zh-cn/zh-cn.js"
                th:src="@{/static/lib/ueditor/lang/zh-cn/zh-cn.js}"></script>
        <script src="../static/lib/summernote/summernote.js" th:src="@{/static/lib/summernote/summernote.js}"></script>
        <script src="../static/lib/ueditor/third-party/codemirror/codemirror.js"
                th:src="@{/static/lib/ueditor/third-party/codemirror/codemirror.js}"></script>
        <script src="../static/lib/ueditor/third-party/zeroclipboard/ZeroClipboard.js "
                th:src="@{/static/lib/ueditor/third-party/zeroclipboard/ZeroClipboard.js }"></script>
        <script src="../static/lib/summernote/lang/summernote-zh-CN.js"
                th:src="@{/static/lib/summernote/lang/summernote-zh-CN.js}"></script>
        <script src="../static/js/admin-scripts.js"
                th:src="@{/static/js/admin-scripts.js}"></script>
    </head>
    <body>
        <!--顶部导航栏-->
        <header th:fragment="header(searchUrl)">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span
                                class="sr-only">切换导航</span> <span class="icon-bar"></span> <span
                                class="icon-bar"></span>
                            <span class="icon-bar"></span></button>
                        <a class="navbar-brand" href="/templates/main.html">WbBlog</a></div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                   aria-expanded="false" th:text="${session.user.userName}">admin
                                    <span
                                            class="caret"></span></a>
                                <ul class="dropdown-menu dropdown-menu-left">
                                    <li><a title="查看或修改个人信息" data-toggle="modal" data-target="#seeUserInfo">个人信息</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="/user/loginOut" onClick="if(!confirm('是否确认退出？'))return false;">退出登录</a></li>
                            <!--                    <li><a data-toggle="modal" data-target="#WeChat">帮助</a></li>-->
                        </ul>
                        <!--th:replace="${form}"-->
                        <form action="" th:action="${searchUrl}" method="post" class="navbar-form navbar-right"
                              role="search">
                            <div class="input-group">
                                <input type="text" class="form-control" name="data" autocomplete="off"
                                       placeholder="键入关键字搜索"
                                       maxlength="15">
                                <span class="input-group-btn">
              <button class="btn btn-default" type="submit">搜索</button>
              </span></div>
                        </form>
                    </div>
                </div>
            </nav>
        </header>

        <!--左侧菜单栏-->
        <aside th:fragment="aside(num)" class="col-sm-3 col-md-2 col-lg-2 sidebar">
            <ul class="nav nav-sidebar">
                <li th:classappend="${num == 0} ? 'active' : ''"><a href="/common/index">首页</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li th:classappend="${num == 1} ? 'active' : ''"><a href="/article/articles/1">文章</a></li>
                <li th:classappend="${num == 5} ? 'active' : ''"><a href="/essay/essays/1">随笔</a></li>
                <li th:classappend="${num == 2} ? 'active' : ''"><a href="/leaveWord/index/1">留言</a></li>
                <li th:classappend="${num == 3} ? 'active' : ''"><a href="/comment/comments/1">评论</a></li>
                <li th:classappend="${num == 8} ? 'active' : ''"><a href="/album/index/1">相册</a></li>
                <li th:classappend="${num == 4} ? 'active' : ''"><a href="/articleType/articleTypes">类别</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li th:classappend="${num == 6} ? 'active' : ''"><a class="dropdown-toggle" id="userMenu"
                                                                    data-toggle="dropdown"
                                                                    aria-haspopup="true"
                                                                    aria-expanded="false">用户</a>
                    <ul class="dropdown-menu" aria-labelledby="userMenu">
                        <li><a href="/user/index/1">用户管理</a></li>
                        <li><a href="/log/index/1">日志管理</a></li>
                    </ul>
                </li>
                <li>
                <!--<li th:classappend="${num == 7} ? 'active' : ''">
                    <a href="/common/setting">设置</a>
                </li>-->
            </ul>
        </aside>

        <!--个人信息模态框-->
        <div th:fragment="userInfo" class="modal fade" id="seeUserInfo" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <form action="" method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">个人信息</h4>
                        </div>
                        <div class="modal-body">
                            <table class="table" style="margin-bottom:0px;">
                                <thead>
                                <tr></tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td wdith="20%">用户名:</td>
                                    <td width="80%">
                                        <input type="text" value="" class="form-control" name="username"
                                               maxlength="10" autocomplete="off" th:value="${session.user.userName}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td wdith="20%">旧密码:</td>
                                    <td width="80%"><input type="password" class="form-control" name="old_password"
                                                           maxlength="18" autocomplete="off"/></td>
                                </tr>
                                <tr>
                                    <td wdith="20%">新密码:</td>
                                    <td width="80%"><input type="password" class="form-control" name="password"
                                                           maxlength="18"
                                                           autocomplete="off"/></td>
                                </tr>
                                <tr>
                                    <td wdith="20%">确认密码:</td>
                                    <td width="80%"><input type="password" class="form-control" name="new_password"
                                                           maxlength="18" autocomplete="off"/></td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr></tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-primary">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--底部引入-->
        <div>
            <script src="lib/ueditor/ueditor.config.js"></script>
            <script src="lib/ueditor/ueditor.all.min.js"></script>
            <script src="lib/ueditor/lang/zh-cn/zh-cn.js"></script>
            <script id="uploadEditor" type="text/plain" style="display:none;"></script>
            <script type="text/javascript">
                var editor = UE.getEditor('article-content');
                window.onresize = function () {
                    window.location.reload();
                }
                var _uploadEditor;
                $(function () {
                    //重新实例化一个编辑器，防止在上面的editor编辑器中显示上传的图片或者文件
                    _uploadEditor = UE.getEditor('uploadEditor');
                    _uploadEditor.ready(function () {
                        //设置编辑器不可用
                        //_uploadEditor.setDisabled();
                        //隐藏编辑器，因为不会用到这个编辑器实例，所以要隐藏
                        _uploadEditor.hide();
                        //侦听图片上传
                        _uploadEditor.addListener('beforeInsertImage', function (t, arg) {
                            //将地址赋值给相应的input,只去第一张图片的路径
                            $("#pictureUpload").attr("value", arg[0].src);
                            //图片预览
                            //$("#imgPreview").attr("src", arg[0].src);
                        })
                        //侦听文件上传，取上传文件列表中第一个上传的文件的路径
                        _uploadEditor.addListener('afterUpfile', function (t, arg) {
                            $("#fileUpload").attr("value", _uploadEditor.options.filePath + arg[0].url);
                        })
                    });
                });
                //弹出图片上传的对话框
                $('#upImage').click(function () {
                    var myImage = _uploadEditor.getDialog("insertimage");
                    myImage.open();
                });

                //弹出文件上传的对话框
                function upFiles() {
                    var myFiles = _uploadEditor.getDialog("attachment");
                    myFiles.open();
                }
            </script>
        </div>
    </body>
</html>