<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="_fragments :: head(~{::title})">
        <meta charset="utf-8">
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>文章修改 - 零度博客管理系统</title>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
        <link rel="apple-touch-icon-precomposed" href="images/icon/icon.png">
        <link rel="shortcut icon" href="images/icon/favicon.ico">
        <script src="js/jquery-2.1.4.min.js"></script>
        <!--[if gte IE 9]>
        <script src="js/jquery-1.11.1.min.js" type="text/javascript"></script>
        <script src="js/html5shiv.min.js" type="text/javascript"></script>
        <script src="js/respond.min.js" type="text/javascript"></script>
        <script src="js/selectivizr-min.js" type="text/javascript"></script>
        <![endif]-->
        <!--[if lt IE 9]>
        <script>window.location.href = 'upgrade-browser.html';</script>
        <![endif]-->
    </head>

    <body class="user-select">
        <section class="container-fluid">
            <header th:replace="_fragments :: header('/article/search')">
                <nav class="navbar navbar-default navbar-fixed-top">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span
                                    class="sr-only">切换导航</span> <span class="icon-bar"></span> <span
                                    class="icon-bar"></span>
                                <span class="icon-bar"></span></button>
                            <a class="navbar-brand" href="/">YlsatCMS</a></div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="">消息 <span class="badge">1</span></a></li>
                                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button"
                                                        aria-haspopup="true" aria-expanded="false">admin <span
                                        class="caret"></span></a>
                                    <ul class="dropdown-menu dropdown-menu-left">
                                        <li><a title="查看或修改个人信息" data-toggle="modal" data-target="#seeUserInfo">个人信息</a>
                                        </li>
                                        <li><a title="查看您的登录记录" data-toggle="modal"
                                               data-target="#seeUserLoginlog">登录记录</a></li>
                                    </ul>
                                </li>
                                <li><a href="/Index/outLogin" onClick="if(!confirm('是否确认退出？'))return false;">退出登录</a>
                                </li>
                                <li><a data-toggle="modal" data-target="#WeChat">帮助</a></li>
                            </ul>
                            <form action="" method="post" class="navbar-form navbar-right" role="search">
                                <div class="input-group">
                                    <input type="text" class="form-control" autocomplete="off" placeholder="键入关键字搜索"
                                           maxlength="15">
                                    <span class="input-group-btn">
              <button class="btn btn-default" type="submit">搜索</button>
              </span></div>
                            </form>
                        </div>
                    </div>
                </nav>
            </header>
            <div class="row">
                <aside th:replace="_fragments :: aside(1)" class="col-sm-3 col-md-2 col-lg-2 sidebar">
                    <ul class="nav nav-sidebar">
                        <li><a href="main.html">报告</a></li>
                    </ul>
                    <ul class="nav nav-sidebar">
                        <li class="active"><a href="article.html">文章</a></li>
                        <li><a href="notice.html">公告</a></li>
                        <li><a href="comment.html">评论</a></li>
                        <li><a data-toggle="tooltip" data-placement="top" title="网站暂无留言功能">留言</a></li>
                    </ul>
                    <ul class="nav nav-sidebar">
                        <li><a href="category.html">栏目</a></li>
                        <li><a class="dropdown-toggle" id="otherMenu" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">其他</a>
                            <ul class="dropdown-menu" aria-labelledby="otherMenu">
                                <li><a href="user-group.html">友情链接</a></li>
                                <li><a href="log.html">访问记录</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav nav-sidebar">
                        <li><a class="dropdown-toggle" id="userMenu" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">用户</a>
                            <ul class="dropdown-menu" aria-labelledby="userMenu">
                                <li><a href="user-group.html">管理用户组</a></li>
                                <li><a href="manage-user.html">管理用户</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="log.html">管理登录日志</a></li>
                            </ul>
                        </li>
                        <li><a class="dropdown-toggle" id="settingMenu" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">设置</a>
                            <ul class="dropdown-menu" aria-labelledby="settingMenu">
                                <li><a href="setting.html">基本设置</a></li>
                                <li><a href="readset.html">用户设置</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="safety.html">安全配置</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="disabled"><a>扩展菜单</a></li>
                            </ul>
                        </li>
                    </ul>
                </aside>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
                    <div class="row">
                        <form action="/article/update" method="post" class="add-article-form">
                            <input type="hidden" name="id" th:value="${article.articleId}"/>
                            <div class="col-md-9">
                                <h1 class="page-header">文章修改</h1>
                                <div class="form-group">
                                    <label for="article-title" class="sr-only">标题</label>
                                    <input type="text" id="article-title" name="title" class="form-control"
                                           placeholder="在此处输入标题" value="" th:value="${article.articleTitle}" required
                                           autofocus
                                           autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <!--              <label for="article-content" class="sr-only">内容</label>-->
                                    <input type="hidden" id="editorValue" th:value="${article.articleDetail}"/>
                                    <!--<textarea id="article-content" name="content" class="form-control"></textarea>-->
                                    <!--              <textarea id="article-content" name="content" type="text/plain"> </textarea>-->
                                    <div id="test-editormd" style="z-index: 1 !important;">
                                        <textarea style="display:none;" name="content"
                                                  th:text="${article.articleDetail}"></textarea>
                                    </div>
                                    <script type="text/javascript">
                                        //初始化markdown编辑器
                                        //获取当前网址，如： http://localhost:8083/uimcardprj/share/meun.jsp
                                        var curWwwPath = window.document.location.href;
                                        //获取主机地址之后的目录，如： uimcardprj/share/meun.jsp
                                        var pathName = window.document.location.pathname;
                                        var pos = curWwwPath.indexOf(pathName);
                                        //获取主机地址，如： http://localhost:8083
                                        var localhostPaht = curWwwPath.substring(0, pos);
                                        //获取带"/"的项目名，如：/uimcardprj
                                        var projectName = pathName.substring(0, pathName.substr(1).indexOf('/') + 1);
                                        var testEditor;
                                        $(function () {
                                            testEditor = editormd("test-editormd", {
                                                width: "100%",
                                                height: 540,
                                                syncScrolling: "single",
                                                path: localhostPaht + "/static/lib/editormd/lib/"
                                            });
                                        });
                                    </script>
                                </div>
                                <div class="add-article-box">
                                    <h2 class="add-article-box-title"><span>描述</span></h2>
                                    <div class="add-article-box-content">
                                <textarea class="form-control" name="describe" autocomplete="off"
                                          th:text="${article.articleDescribe}"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <h1 class="page-header">操作</h1>
                                <div class="add-article-box">
                                    <h2 class="add-article-box-title"><span>类别</span></h2>
                                    <div class="add-article-box-content">
                                        <ul class="category-list">
                                            <li th:each="articleType : ${articleTypes}">
                                                <label>
                                                    <input name="category" type="radio" value="1"
                                                           th:value="${articleType.articleTypeId}"
                                                           th:attr="checked=${articleType.articleTypeId==article.articleTypeId?true:false}">
                                                    <span th:text="${articleType.articleTypeName}"></span>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="add-article-box">
                                    <h2 class="add-article-box-title"><span>标题图片</span></h2>
                                    <div class="add-article-box-content">
                                        <input type="text" class="form-control" placeholder="点击按钮选择图片"
                                               id="pictureUpload"
                                               name="titlepic" autocomplete="off">
                                    </div>
                                    <div class="add-article-box-footer">
                                        <button class="btn btn-default" type="button" ID="upImage">选择</button>
                                    </div>
                                </div>
                                <div class="add-article-box">
                                    <h2 class="add-article-box-title"><span>发布</span></h2>
                                    <div class="add-article-box-content">
                                        <p><label>状态：</label>
                                            <span class="article-status-display"
                                                  th:text="${article.articleState==0?'未发布':'已发布'}">已发布</span>
                                        </p>
                                        <p>
                                            <input type="radio" name="state" value="1"
                                                   th:attr="checked=${article.articleState==1?true:false}"
                                                   checked/>发布
                                            <input type="radio" name="state" value="0"
                                                   th:attr="checked=${article.articleState==0?true:false}"
                                            />不发布
                                        </p>
                                        <label>时间：</label>
                                        <span class="article-time-display">
                                    <input style="border: none;" type="datetime" name="time"
                                           value="2016-01-09 17:29:37"
                                           th:value="${#dates.format(article.articleDate,'yyyy-MM-dd')}"/>
                                    </span>
                                        </p>
                                    </div>
                                    <div class="add-article-box-footer">
                                        <button class="btn btn-primary" type="submit" name="submit">更新</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!--个人信息模态框-->
        <div th:replace="_fragments :: userInfo" class="modal fade" id="seeUserInfo" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <form action="" method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">个人信息</h4>
                        </div>
                        <div class="modal-body">
                            <table class="table" style="margin-bottom:0px;">
                                <thead>
                                <tr></tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td wdith="20%">姓名:</td>
                                    <td width="80%"><input type="text" value="王雨" class="form-control" name="truename"
                                                           maxlength="10" autocomplete="off"/></td>
                                </tr>
                                <tr>
                                    <td wdith="20%">用户名:</td>
                                    <td width="80%"><input type="text" value="admin" class="form-control"
                                                           name="username"
                                                           maxlength="10" autocomplete="off"/></td>
                                </tr>
                                <tr>
                                    <td wdith="20%">电话:</td>
                                    <td width="80%"><input type="text" value="18538078281" class="form-control"
                                                           name="usertel"
                                                           maxlength="13" autocomplete="off"/></td>
                                </tr>
                                <tr>
                                    <td wdith="20%">旧密码:</td>
                                    <td width="80%"><input type="password" class="form-control" name="old_password"
                                                           maxlength="18" autocomplete="off"/></td>
                                </tr>
                                <tr>
                                    <td wdith="20%">新密码:</td>
                                    <td width="80%"><input type="password" class="form-control" name="password"
                                                           maxlength="18"
                                                           autocomplete="off"/></td>
                                </tr>
                                <tr>
                                    <td wdith="20%">确认密码:</td>
                                    <td width="80%"><input type="password" class="form-control" name="new_password"
                                                           maxlength="18" autocomplete="off"/></td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr></tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-primary">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--个人登录记录模态框-->
        <div class="modal fade" id="seeUserLoginlog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">登录记录</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table" style="margin-bottom:0px;">
                            <thead>
                            <tr>
                                <th>登录IP</th>
                                <th>登录时间</th>
                                <th>状态</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>::1:55570</td>
                                <td>2016-01-08 15:50:28</td>
                                <td>成功</td>
                            </tr>
                            <tr>
                                <td>::1:64377</td>
                                <td>2016-01-08 10:27:44</td>
                                <td>成功</td>
                            </tr>
                            <tr>
                                <td>::1:64027</td>
                                <td>2016-01-08 10:19:25</td>
                                <td>成功</td>
                            </tr>
                            <tr>
                                <td>::1:57081</td>
                                <td>2016-01-06 10:35:12</td>
                                <td>成功</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">朕已阅</button>
                    </div>
                </div>
            </div>
        </div>
        <!--右键菜单列表-->
        <div id="rightClickMenu">
            <ul class="list-group rightClickMenuList">
                <li class="list-group-item disabled">欢迎访问零度博客</li>
                <li class="list-group-item"><span>IP：</span>172.16.10.129</li>
                <li class="list-group-item"><span>地址：</span>河南省郑州市</li>
                <li class="list-group-item"><span>系统：</span>Windows10</li>
                <li class="list-group-item"><span>浏览器：</span>Chrome47</li>
            </ul>
        </div>
        <script id="uploadEditor" type="text/plain" style="display:none;"></script>
        <script type="text/javascript">

            // var editor = UE.getEditor('article-content');

            /* $(function () {
                 var htmlStr = $("#editorValue").val();
                 $("#article-content").summernote('code', htmlStr);
                 var note = $("#article-content").summernote({
                     lang: 'zh-CN',// 语言
                     height: 496, // 高度
                     minHeight: 300, // 最小高度
                     placeholder: '请输入文章内容', // 提示
                     // summernote自定义配置
                     toolbar: [
                         ['operate', ['undo', 'redo']],
                         ['magic', ['style']],
                         ['style', ['bold', 'italic', 'underline', 'clear']],
                         ['para', ['height', 'fontsize', 'ul', 'ol', 'paragraph']],
                         ['font', ['strikethrough', 'superscript', 'subscript']],
                         ['color', ['color']],
                         ['insert', ['picture', 'video', 'link', 'table', 'hr']],
                         ['layout', ['fullscreen', 'codeview']],
                     ],
                     callbacks: { // 回调函数
                         // 上传图片时使用的回调函数   因为我们input选择的本地图片是二进制图片，需要把二进制图片上传服务器，服务器再返回图片url，就需要用到callback这个回调函数
                         onImageUpload: function (files) {
                             var form = new FormData();
                             form.append('file', files[0])  //myFileName 是上传的参数名，一定不能写错
                             $.ajax({
                                 type: "post",
                                 url: "/common/upload", //上传服务器地址
                                 dataType: 'json',
                                 data: form,
                                 processData: false,
                                 contentType: false,
                                 cache: false,
                                 success: function (data) {
                                     console.log(data.data)
                                     $('#summernote').summernote('editor.insertImage', data.data);
                                 }
                             })
                         }
                     }
                 });


             });*/

            // 编辑器功能=====================================
            // var note = $("#article-content").summernote({
            //     lang: 'zh-CN',// 语言
            //     height: 496, // 高度
            //     minHeight: 300, // 最小高度
            //     placeholder: '请输入文章内容', // 提示
            //     // summernote自定义配置
            //     toolbar: [
            //         ['operate', ['undo', 'redo']],
            //         ['magic', ['style']],
            //         ['style', ['bold', 'italic', 'underline', 'clear']],
            //         ['para', ['height', 'fontsize', 'ul', 'ol', 'paragraph']],
            //         ['font', ['strikethrough', 'superscript', 'subscript']],
            //         ['color', ['color']],
            //         ['insert', ['picture', 'video', 'link', 'table', 'hr']],
            //         ['layout', ['fullscreen', 'codeview']],
            //     ],
            //     callbacks: { // 回调函数
            //         // 上传图片时使用的回调函数   因为我们input选择的本地图片是二进制图片，需要把二进制图片上传服务器，服务器再返回图片url，就需要用到callback这个回调函数
            //         onImageUpload: function (files) {
            //             var form = new FormData();
            //             form.append('myFileName', files[0])  //myFileName 是上传的参数名，一定不能写错
            //             $.ajax({
            //                 type: "post",
            //                 url: "http://www.lingdu.live:9527/myblog/img", //上传服务器地址
            //                 dataType: 'json',
            //                 data: form,
            //                 processData: false,
            //                 contentType: false,
            //                 cache: false,
            //                 success: function (data) {
            //                     console.log(data.data)
            //                     $('#summernote').summernote('editor.insertImage', data.data);
            //                 }
            //             })
            //         }
            //     }
            // });
        </script>
    </body>
</html>